
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.msi
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tmp
*.orig
*~HEAD
*~HEAD_*
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.wixpdb
*.user
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Backup/
InstallShieldExpress/InstallShieldExpress/
UpgradeLog.htm
packages/
*.bat